html, body {
    background-color: #A3ACB1;
}
.header{
  margin-left: 20px;
  margin-right: 20px;
}
.footer{
  text-align: center;
  color: antiquewhite;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo img{
  width: 100px;
  height:auto;
}

@media (min-width: 768px) {
  .logo img {
    max-width: 50%; /* Adjust the size for larger screens */
  }
}

.group_photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
}

.group_photo img{
  width: 850px;
  height: auto;
  max-height: 100vh; 
  object-fit: cover;
}

.banner {
  position: absolute;
  bottom: -20px;
  width: 100%;
  background: black;
  padding: 10px 0;
  overflow: hidden;
  color: white;
  font-size: 18px;
  text-align: center;
}

.banner-text {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 15s linear infinite;
}
.banner-content span {
  display: inline-block;
  padding-right: 50px; /* Creates space between repeating text */
}

@keyframes scrollText {
  0% {
      transform: translateX(10%);
  }
  50% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(-100%);
  }
}